.cv-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.brand-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.title-container {
    text-align: center;
    margin-bottom: 20px;
}

.title-text {
    font-size: 32px;
    color: #333;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.yellow-button {
    background-color: #ffc107;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
}

.info-container {
    background-color: #A9A9A9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.field-text {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.question-text {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

.edit-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.blue-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-end; /* Align this button to the right within the flex container */

}
.button-column {
    display: flex;
    justify-content: flex-end; /* Aligns the button to the right */
}
